@font-face {
	font-family: 'Austin Cyr Roman';
	src: url('AustinCyr-Italic.eot');
	src: local('Austin Cyr Italic'), local('AustinCyr-Italic'),
		url('AustinCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Italic.woff') format('woff'),
		url('AustinCyr-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-Semibold.eot');
	src: local('Austin Cyr Semibold'), local('AustinCyr-Semibold'),
		url('AustinCyr-Semibold.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Semibold.woff') format('woff'),
		url('AustinCyr-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-BoldItalic.eot');
	src: local('Austin Cyr Bold Italic'), local('AustinCyr-BoldItalic'),
		url('AustinCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-BoldItalic.woff') format('woff'),
		url('AustinCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-MediumItalic.eot');
	src: local('Austin Cyr Medium Italic'), local('AustinCyr-MediumItalic'),
		url('AustinCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-MediumItalic.woff') format('woff'),
		url('AustinCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-ExtraboldItalic.eot');
	src: local('Austin Cyr Extrabold Italic'), local('AustinCyr-ExtraboldItalic'),
		url('AustinCyr-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-ExtraboldItalic.woff') format('woff'),
		url('AustinCyr-ExtraboldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr Fat';
	src: url('AustinCyr-FatItalic.eot');
	src: local('Austin Cyr Fat Italic'), local('AustinCyr-FatItalic'),
		url('AustinCyr-FatItalic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-FatItalic.woff') format('woff'),
		url('AustinCyr-FatItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr Fat';
	src: url('AustinCyr-Fat.eot');
	src: local('Austin Cyr Fat'), local('AustinCyr-Fat'),
		url('AustinCyr-Fat.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Fat.woff') format('woff'),
		url('AustinCyr-Fat.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-Extrabold.eot');
	src: local('Austin Cyr Extrabold'), local('AustinCyr-Extrabold'),
		url('AustinCyr-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Extrabold.woff') format('woff'),
		url('AustinCyr-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Austin Cyr Roman';
	src: url('AustinCyr-Roman.eot');
	src: local('Austin Cyr Roman'), local('AustinCyr-Roman'),
		url('AustinCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Roman.woff') format('woff'),
		url('AustinCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-Medium.eot');
	src: local('Austin Cyr Medium'), local('AustinCyr-Medium'),
		url('AustinCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Medium.woff') format('woff'),
		url('AustinCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-SemiboldItalic.eot');
	src: local('Austin Cyr Semibold Italic'), local('AustinCyr-SemiboldItalic'),
		url('AustinCyr-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-SemiboldItalic.woff') format('woff'),
		url('AustinCyr-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Austin Cyr';
	src: url('AustinCyr-Bold.eot');
	src: local('Austin Cyr Bold'), local('AustinCyr-Bold'),
		url('AustinCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('AustinCyr-Bold.woff') format('woff'),
		url('AustinCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
